---
---
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900');

@import
  "variables",
  "minima/base",
  "minima/layout",
  "syntax-highlighting";

%no-text-decoration {
  text-decoration: none;
}

%code {
  background-color: $grey-color-dark;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
  color: #fff;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: middle;
}

a {
  color: $accent-color;
  @extend %no-text-decoration;

  &:hover {
    color: darken($accent-color, 15%);
    @extend %no-text-decoration;
  }

  &:visited {
    color: $primary-color;
    @extend %no-text-decoration;
  }
}

article {
  background-color: $grey-color-light;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin: 0 10px;
  padding: 40px 40px 30px;

  @include media-query($on-palm) {
    margin: 0;
    padding: 40px 20px 10px;
  }
}

body {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

footer {
  background-color: #212121;
  color: #c0c0c0;
  font-size: 16px;
  margin-top: 40px;
}

iframe {
  width: 100%;
}

p {
  line-height: $base-line-height;

  >pre, >code, >nobr>code {
    @extend %code;
  }
}

pre, code {
  background: none;
  border: none;
  display: inline-block;
  font: #{$code-font-size}/#{$code-line-height} $code-font-family;
  margin: 0;
  padding: 0 0.5em;
  white-space: pre;
}

.footer-col-wrapper {
  color: $text-color;
}

.highlight, .highlighter-rouge .highlight, li>code, li>pre, h5>code, .note>code {
  @extend %code;
}

.post-meta {
  color: $meta-color;
}

.post-title {
  font-size: 2em;
  font-weight: bold;
}

.site-footer {
  border-top: none;
}

.site-header {
  border-top: 5px solid $primary-color;
  border-bottom: none;
  padding-top: 20px;
}

.site-nav li {
  display: inline-block;

  &.current a {
    background-color: $primary-color;
    color: #222;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  }
}

.site-nav .page-link {
    border-radius: 5px;
    font-weight: 900;
    font-size: 14px;
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.25s;
}

.site-nav .page-link {
  color: $primary-color;
}

.site-title{
  color: $accent-color;
  font-family: "Kaushan Script";
  font-size: 3em;
  text-shadow: 0px 1px 1px #000;

  &:visited {
    color: $accent-color;
  }
}

@media screen and (max-width: 600px) {
  .site-nav .menu-icon > svg path {
      fill: #ddd;
  }
}