---
---
@import "variables";

$section-colors-list: #4fc3f7 #fc0 #55d400;

@mixin set-link-color($color) {
  a, a:hover, a:visited {
    color: $color;
  }
}

aside {
  background: #00aad4;
  display: flex;
  flex-flow: column;
  flex: 1;
}

figure.profile-info {
  background-image: url('/assets/img/profile-blur.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: $white-color;
  flex: 1;
  margin-bottom: 0;
  min-height: 340px;
  text-align: center;

  @include set-link-color($white-color);

  > img, > figcaption {
    margin: 0 auto;
    position: relative;
    transform: translateY(-30%);
    top: 30%;

    @include media-query($on-palm) {
      transform: translateY(50%);
    }
  }

  div {
    &:nth-child(1) {
      font-size: 2.5em;
    }

    &:nth-child(2), &:nth-child(3) {
      font-size: 1.5em;
    }
  }
}

img.profile-picture {
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  min-width: 5em;
  width: 25%;
}

main.page-content {
  font-family: $code-font-family;
  padding: 0;

  > .wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    max-width: 100%;
    padding: 0;

    @include media-query($on-palm) {
      flex-flow: column wrap;
    }
  }
}

section {
  flex: 1.5;
  padding: 20px;

  @include media-query($on-laptop) {
    flex: 1;
  }
}

div.profile-details {
  color: $white-color;
  flex: 3;
  margin-top: 30px;

  li.subtitle {
    margin-bottom: 20px;
  }

  @include set-link-color($white-color);
}

div.profile-section {
  margin-bottom: 50px;

  @each $color in $section-colors-list {
    $i: index($section-colors-list, $color);
    &:nth-child(#{$i}) {
      @include set-link-color($color);

      > h3, span {
        color: $color;
      }
    }
  }

  > h3 {
    margin: 0;
  }

  > p {
    line-height: 1.2;
    margin-bottom: 20px;
    word-break: break-word;
  }
}

ul {
  list-style-type: none;
}